.create, .noteText  { 
    float:left; 
    padding:25px 25px 40px;
    margin:0 20px 20px 0;
    width:200px;
    height:200px; 
  }
  

  .noteText {
    font: 20px;
    font-family: 'Courier New', Courier, monospace;
    line-height:1.5;
    border:0;
    border-radius:3px;
    background: linear-gradient(#F9EFAF, #F7E98D);
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    transition:box-shadow 0.5s ease;
    max-width:520px;
    max-height:250px;
  }  
  
  .delete{
    position: relative;
    float: right;
    color: red;
    top: 10 px;
    left: 10 px;
  }

  textarea {
    min-width: 80px;
    min-height: 80px;
    margin-top: 12px;
    border: none;
    cursor: pointer;
    font-size: 0.92rem;
    line-height: 1rem;
    font-family: "M PLUS Rounded 1c";
    background: transparent;
    overflow: hidden;
  }