html {
    scroll-behavior: smooth;
}
    
body {
    background-color: white;
    text-align: center;
}
    
.title {
    color: black;
    font-style: bold;
    font-size: 400%;
    text-align: left;
    font-family: "Lato", sans-serif;
}
    
.description {
    font-size: 130%;
    text-align: left;
    font-family: "Lato", sans-serif;
    color: black;
}
    
.point {
    font-size: 50%;
}
    
.question {
    font-size: 150%;
    text-align: left;
    font-family: "Lato", sans-serif;
    color: black;
}
    
.mission {
    text-align: left;
    font-family: "Lato", sans-serif;
    color: black;
}
    
.image {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.button {
  background-color: black;
  font-family: "Lato", sans-serif;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.email {
  font-family: "Lato", sans-serif;
  color: black;
}

.password {
  font-family: "Lato", sans-serif;
  color: black;
}

#email {
  font-family: "Lato", sans-serif;
  color: black;
}

#password {
  font-family: "Lato", sans-serif;
  color: black;
}

.button2 {
  background-color: black;
  font-family: "Lato", sans-serif;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.footer {
    color: black;
    font-style: bold;
    font-size: 90%;
    text-align: center;
    font-family: "Lato", sans-serif;
}